@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

/* Header */

header{
    font-family: 'Rubik', sans-serif;
    background-image: url(../img/hero-bg.png);
}

.nav-item a{
    color: #fff;
}

.nav-item a:hover{
    color: #ffAA17;
}

.hero-content {
    margin: 160px auto 0;
    width: 80%;
}

.colored-part{
    color: #ffAA17;
}

.icons-contact a:hover{
    background-color: #ffAA17;
}

.hero-btn{
    background-color: #ffAA17;
    padding: 8px 60px;
    text-decoration: none;
    color: #1C1E22;

}

.hero-btn:hover{
    background-color: #c18215;
}

.hero-img{
    margin: 115px auto 0;
    width: 80%;
}

main{
    font-family: 'Poppins', sans-serif;
}

/* About */

.about img{
    width: 100%;
    height: auto;
}

/* Ability */

.box{
    padding: 40px 20px;
    top: 0;
    border: 2px solid #ffAA17;
}

.box:hover{
    transform: scale(1.02);
}

/* Projects */


.projects img{
    width: 100%;
    height: auto;
}


.tools-btn{
    background-color: #ffAA17;
    padding: 10px 95px;
    text-decoration: none;
    color: #1C1E22;
}

.tools-btn:hover{
    background-color: #c18215;
}

/* Back to Top */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #ffAA17;
}

#btn-back-to-top:hover{
    background-color: #c18215;
}

/* Dark mode */

.dropdown button{
    color: white;
    background-color: #ffAA17;
}

.dropdown button:active,
.dropdown button:focus {
    background-color: #ffAA17;
    color: white;
}

.dropdown button:hover{
    background-color: #c18215;
    color: white;
}

.theme-icon,
.theme-icon-active {
    fill: #6c757d; 
}

[data-bs-theme="dark"] .theme-icon,
[data-bs-theme="dark"] .theme-icon-active {
    fill: #ffffff;
}

/* Footer */

footer a{
    transition: none;
}


/* Tablet */

@media(max-width:900px){
    .hero-img img{
        width: 95%;
    }

}
@media(max-width:576px){
    .hero-img{
        margin: 135px auto 0;
        width: 80%;
    }
}

@media(max-width:480px){
    .hero-img{
        display: none;
    }
    .box:hover{
        transform: none;
    }
}